{% extends "rounds/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Edit Course Info</legend>
        {{ c_form.as_p }}
        <p>Tees:</p>
        {% for t_form in t_formset %}
            {{ t_form.as_p }}
        {% endfor %}
    </fieldset>
    <button type="submit">Update</button>
</form>
<h3>Edit Tees:</h3>
{%for tee in tees%}
    <a href="{% url 'courselibrary:tee-edit' tee.id %}">{{ tee.name }}</a>
{% endfor %}
<a href="{% url 'courselibrary:detail' course.id %}">Return to course page without updating</a>
<p>Last updated: {{ course.last_updated }}</p>
<p>Created: {{ course.date_created }}</p>
<p>Creator: {{ course.creator }}</p>

{% endblock content %}