{% extends "rounds/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Round</legend>
        {% for score in scores %}
            <label for="id_form-{{ forloop.counter0 }}-score"># {{ score.hole_number }}</label>
            <label for="id_form-{{ forloop.counter0 }}-score">Par: {{ score.par }}</label>
            <label for="id_form-{{ forloop.counter0 }}-score">Yards: {{ score.yardage }}</label>
        {% endfor %}
        {{ form.as_p }}
        {{ score_formset.management_form }}
            {% for form in score_formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {{ form.errors }}
            <ul>
                <li>Score: {{ form.score }}</li>
            </ul>
            {% endfor %}
    </fieldset>
    <button type="submit">Update</button>
</form>
<a href="{% url 'rounds:delete' round.id %}">Delete Round</a>

{% endblock content %}